.App {
  margin: 50px;

  width: 40%;
}
.classcontainer {
  border: 1px solid grey;
}
.hookscontainer {
  margin-top: 20px;
  border: 1px solid darkblue;
}
ul {
  font-size: 1.5rem;
}

li {
  line-height: 1;
  list-style-type: none;
}
input {
  margin: 10px;
}
